<main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 main">
  <section class="section">
    <article class="article">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registra tu cuenta</h2>
      </div>
    
      <section class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6 form" action="#" method="POST">
          <div>
              <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Nombre usuario</label>
              <div class="mt-2">
                <input id="username" name="signupForm.username" type="text" autocomplete="username" placeholder="Ingresa tu nombre de usuario" [(ngModel)]="signupForm.username" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required >
              </div>
            </div>
          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
            <div class="mt-2">
              <input id="email" name="signupForm.email" type="email" autocomplete="email" placeholder="Ingresa tu email " [(ngModel)]="signupForm.email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
    
          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
              
            </div>
            <div class="mt-2">
              @if (inputPasswordType) {
                <div class="password-group">
                  <input id="password" name="signupForm.password" type="password" autocomplete="current-password" placeholder="Ingresa tu contraseña" [(ngModel)]="signupForm.password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <button class="btn-show bi bi-eye" type="button" (click)="switchPasswordType()"></button>
                </div>
              } @else {
                <div class="password-group">
                  <input id="password" name="signupForm.password" type="text" autocomplete="current-password" placeholder="Ingresa tu contraseña" [(ngModel)]="signupForm.password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <button class="btn-show bi bi-eye-slash" type="button" (click)="switchPasswordType()"></button>
                </div>
              }
              <!-- <input id="password" name="signupForm.password" type="password" autocomplete="current-password" placeholder="Coloca tu contraseña" [(ngModel)]="signupForm.password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> -->
            </div>
          </div>
  
          <div>
              <div class="flex items-center justify-between">
                <label for="confirm-password" class="block text-sm font-medium leading-6 text-gray-900">Confirmar contraseña</label>
              </div>
              <div class="mt-2">
                @if (inputConfirmPasswordType) {
                  <div class="password-group">
                    <input id="confirm-password" name="signupForm.confirmPassword" type="password" autocomplete="current-password" placeholder="Confirma tu contraseña" [(ngModel)]="signupForm.confirmPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <button class="btn-show bi bi-eye" type="button" (click)="switchConfirmPasswordType()"></button>
                  </div>
                } @else {
                  <div class="password-group">
                    <input id="confirm-password" name="signupForm.confirmPassword" type="text" autocomplete="current-password" placeholder="Confirma tu contraseña" [(ngModel)]="signupForm.confirmPassword" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <button class="btn-show bi bi-eye-slash" type="button" (click)="switchConfirmPasswordType()"></button>
                  </div>
                }
              </div>
          </div>
  
          
          @if(warningMessage){
            <p class="alert"> <i class="bi bi-exclamation-circle-fill"></i> {{warningMessage}}</p>
          }
  
          @if(successMessage){
            <p class="alert-success"><i class="bi bi-check-circle-fill"></i>  {{successMessage}}</p>
          }
    
          <div>
            <button type="submit" (click)="validations()" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrar</button>
          </div>
        </form>
  
        <p class="mt-10 text-center text-sm text-gray-500">
          ¿Tienes cuenta?
          <a  class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500 a-custom-class" (click)="navigateToLogin()">Iniciar Sesión</a>
        </p>
      </section>
    </article>
    <div class="div">
      <img src="https://img.freepik.com/vetores-premium/cadastre-se-na-ilustracao-em-vetor-conceito-abstrato-de-pagina_107173-25670.jpg" alt="imagen" class="img">
    </div>

  </section>  
</main>
  
