<section class="custom-section">

    <aside class="aside">
        <div>
            <app-iconletter [letter]="letterIcon"></app-iconletter>
            <h1>{{userData!.username}}</h1>
        </div>
        <a class="logout" (click)="logout()">Log out</a>
    </aside>

    <section class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for(user of userList; track user){
                        <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    }
            </tbody>
        </table>
    </section>
    
</section>

