.icon-letter{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6366F1;
    color: white;
    border: white;
}